#billingTable {
    min-height : auto;
    min-height : initial;
    overflow-x : scroll;
}
#eventsDailogForm{
  .md-toolbar-tools {
        background-color: rgb(7, 128, 185);
      }
  .modal-align {
    height   : 500px;
    width    : 900px;
    padding  : 30px 20px 30px;
    .row-margin{
      margin-top: 25px;
      margin-left: 100px;
      }
  }
  .p {
    padding-left: 15px;
  }
 table {
   border-spacing: 0px;
   border: 5px;
   height: 90%
 }
 md-dialog-content {
    padding: 0px 24px 24px;
  }
  md-dialog{
    max-height:90%;
  }
  #billingTab {
    margin-top : 50px;
    margin-left: 100px;
    td, th {
      border: 2px solid #dddddd;
      border-style: ridge
    }
    th {
      background-color: rgb(7, 128, 185);
      color: #fff;
    }
    p {
      margin: 0;
    }

  }
  #billingTab2 {
    margin-top : 30px;
    margin-left: 100px;
    margin-bottom: 20px;
    td, th {
      border: 2px solid #dddddd;
      border-style: ridge
    }
    th {
      background-color: rgb(7, 128, 185);
      color: #fff;
    }
    p {
      margin: 0;
    }
  }
    margin-bottom: 100px;
}
#billing-form {
  p {
    margin: 25px 0 26px 0;
   font-size: 15px;
  }
  md-input-container {
    margin: 15px 0;
  }

}
