#networkwiseConsumption {
  md-input-container {
    margin: 0;
  }
  .tb-stats {
    margin-top: 15px;
    //background-color: #EFEFEF;
    width: 100%;
    border: 1px solid #dddddd;
    padding: 5px;
    p {
      margin: 0;
    }
  }

  
}
