//
// .zone-names {
//   text-align: right;
// }

#timezones-form {
  .layout-row {
    height: 50px;
    .zone-names {
      font-size: 14px;
      padding-top: 17px;
    }
    md-input-container {
      margin: 5px 0 !important;
    }
  }
}
md-toast {
  &.error {
    .md-toast-content {
      background: #d9534f;
      color: white;
    }
  }
  &.success {
    .md-toast-content {
      background: #398439;
      color: white;

    }
  }
}
