<div  id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" id = "headerDiv">
        <div layout="column" layout-align="space-between">
          <div class="breadcrumb" layout="row" layout-align="start center">
              <md-icon md-font-icon="icon-home" class="s16"></md-icon>
              <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
              <span class="parent">Dashboards</span>
          </div>
          <div class="headerTitle"> Power Quality</div>
        </div>
        <!-- <md-button  class="md-icon-button" ng-click="vm.hierarchyShow()" >
          <md-icon class="fa fa-retweet" style="font-size:30px"></md-icon>
        </md-button> -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <ms-hierarchys  ng-show="vm.showHeader"></ms-hierarchys>
    <div class="content" layout="column">
      <div layout="row">
        <div class="form-wrapper md-whiteframe-1dp" flex="100" id="power-factor">
          <div layout="row">
            <div flex="5">
              <p class = "label-font">From</p>
            </div>

            <md-input-container flex="15">
              <md-select ng-model="vm.powerQuality.fyear" placeholder="select year" ng-change="vm.getMonth()">
                <md-option value = "{{vm.currentYear}}">{{vm.currentYear}}</md-option>
                <md-option value = "{{vm.pastYear1}}">{{vm.pastYear1}}</md-option>
                <md-option value = "{{vm.pastYear2}}">{{vm.pastYear2}}</md-option>
              </md-select>
            </md-input-container>
            <div flex="5">
            </div>


            <md-input-container flex="15">
              <md-select ng-model="vm.powerQuality.fmonth" placeholder="select month" ng-disabled="vm.fmonthDisable">
                <!-- <md-option value = "01">January</md-option>
                <md-option value = "02">Febraury</md-option>
                <md-option value = "03">March</md-option>
                <md-option value = "04">April</md-option>
                <md-option value = "05">May</md-option>
                <md-option value = "06">June</md-option>
                <md-option value = "07">July</md-option>
                <md-option value = "08">August</md-option>
                <md-option value = "09">September</md-option>
                <md-option value = "10">October</md-option>
                <md-option value = "11">November</md-option>
                <md-option value = "12">December</md-option> -->
                <md-option ng-repeat="x in vm.fmonth" value="{{x.value}}">{{x.month}}</md-option>
              </md-select>
            </md-input-container>


            <div flex="5">
            </div>
            <div flex="5">
              <p class = "label-font">To</p>
            </div>
            <md-input-container flex="15">
              <md-select ng-model="vm.powerQuality.tyear" placeholder="select year" ng-change="vm.getMonth2()">
                <md-option value = "{{vm.currentYear}}">{{vm.currentYear}}</md-option>
                <md-option value = "{{vm.pastYear1}}">{{vm.pastYear1}}</md-option>
                <md-option value = "{{vm.pastYear2}}">{{vm.pastYear2}}</md-option>
              </md-select>
            </md-input-container>

              <div flex="5">
              </div>
              <md-input-container flex="15">
                <md-select ng-model="vm.powerQuality.tmonth" placeholder="select month" ng-disabled="vm.tmonthDisable">
                  <!-- <md-option value = "01">January</md-option>
                  <md-option value = "02">Febraury</md-option>
                  <md-option value = "03">March</md-option>
                  <md-option value = "04">April</md-option>
                  <md-option value = "05">May</md-option>
                  <md-option value = "06">June</md-option>
                  <md-option value = "07">July</md-option>
                  <md-option value = "08">August</md-option>
                  <md-option value = "09">September</md-option>
                  <md-option value = "10">October</md-option>
                  <md-option value = "11">November</md-option>
                  <md-option value = "12">December</md-option> -->
                    <md-option ng-repeat="x in vm.tmonth" value="{{x.value}}">{{x.month}}</md-option>
                 </md-select>
                </md-input-container>
              <div flex="5">
              </div>
              <md-button type="submit"  class="md-accent md-raised"  ng-click="vm.powerQualitySubmit()">Submit</md-button>
              <md-button  class="md-accent md-raised"  ng-click="vm.Clear.clearObj(vm.powerQuality)">clear</md-button>
          </div>

          <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.progressShow">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>

          <div layout = "row">
            <div flex="40">
              <!-- <md-button type="submit"  class="md-accent md-raised"  ng-click="vm.powerQualitySubmit()">Submit</md-button> -->
            </div>
            <div flex="60">
              <table  class="tb-stats" ng-show="vm.statisticsTable">
                <tbody>
                  <tr>
                      <td class="p"><p class="label-font">Total number Of Consumers</p></td>
                      <td class="p"><p class="label-font">{{vm.counts.consumerCount}}</p></td>
                  </tr>
                  <tr >
                      <td class="p"><p class="label-font">PF &gt; 0.98</p></td>
                      <td class="p"><p class="label-font"><a href="#" ng-click="vm.displayData(1)">{{vm.counts.pfRange1Count}}</a></p></td>
                  </tr>
                  <tr>
                      <td class="p"><p class="label-font">PF &lt; 0.98 &amp; PF &gt; 0.95</p></td>
                      <td class="p"><p class="label-font"><a href="#" ng-click="vm.displayData(2)">{{vm.counts.pfRange2Count}}</a></p></td>
                  </tr>
                  <tr >
                      <td class="p"><p class="label-font">PF &lt; 0.95 &amp; PF &gt; 0.8</p></td>
                      <td class="p"><p class="label-font"><a href="#" ng-click="vm.displayData(3)">{{vm.counts.pfRange3Count}}</a></p></td>
                  </tr>
                  <tr >
                      <td class="p"><p class="label-font">PF &lt; 0.8</p></td>
                      <td class="p"><p class="label-font"><a href="#" ng-click="vm.displayData(4)">{{vm.counts.pfRange4Count}}</a></p></td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>

          <div layout="row" ng-show="vm.dataTable">
            <div flex="100">
              <div class="tab-heading">
                <p>{{vm.powerQualityHeading}}</p>
              </div>

              <table class="dataTable row-border hover custom-table" datatable="ng" dt-options="vm.dtOptions">
                 <thead>
                  <tr>
                     <th class="secondary-text">
                       <div class="table-header">
                           <span class="column-title">S No</span>
                       </div>
                     </th>
                     <th class="secondary-text" >
                       <div class="table-header">
                           <span class="column-title">Meter Sno</span>
                       </div>
                     </th>
                     <th class="secondary-text">
                       <div class="table-header">
                           <span class="column-title">Date</span>
                       </div>
                     </th>
                     <th class="secondary-text">
                       <div class="table-header">
                           <span class="column-title">Reference value</span>
                       </div>
                     </th>

                   </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="item in vm.powerQualityObject">
                       <td>{{$index+1}}</td>
                       <td>{{item.mtrNo}}</td>
                       <td>{{item.billingDate}}</td>
                       <td>{{item.sysPwrFactBillingPeriod}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
          </div>

          <div layout="row" ng-show="vm.statisticsTable && vm.chartShow">
            <div flex="30">
              <!-- <md-select ng-model="vm.switch" ng-change="vm.displayFun(vm.switch)">
                <md-option value = "donutChart">Donut Chart</md-option>
                <md-option value = "barchart">Bar Chart</md-option>

              </md-select> -->
              <md-radio-group ng-model="vm.switch" required ng-click="vm.displayFun(vm.switch)" class="radio-align">
                <md-radio-button value="donutChart">Donut Chart</md-radio-button>
                <md-radio-button value="barchart">Bar Chart</md-radio-button>
              </md-radio-group>
            </div>
          </div>

          <div layout="row"  ng-show="vm.donut && vm.chartShow">
            <div flex="100">
                <div id="donutchartdiv"></div>

            </div>
          </div>

          <div layout="row" ng-show="vm.chart && vm.chartShow">
            <div flex="25">
            </div>
            <!-- <div flex="50" >
              <div class="card" style="width:100%;">
                  <nvd3 options="vm.discreteBarChart.options" data="vm.discreteBarChart.data"></nvd3>
              </div>
            </div> -->
            <div id="chartdiv"></div>
            </div>


        </div>
      </div>
    </div>
<!-- / CONTENT -->
</div>
