
<form name ="meterType" id="type-form" ng-submit="vm.type()">
  <div class="demo-md-panel-animation metermaster-class">
      <div flex ="25">
        <md-icon md-font-icon="icon-plus-circle" show-gt-sm="" role="button" aria-label="icon-plus-circle"  ng-click="vm.addTypes($index)"></md-icon>
      </div>
    <div layout="row" ng-repeat = "items in vm.types track by $index">
      <div flex="45">
        <div layout="row">
          <div flex="40">
            <p>Type {{$index+1}} : </p>
          </div>
          <div flex ="60">
            <md-input-container>
              <input ng-model="items.type">
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
    <md-button type="submit" value="Submit" class="md-accent md-raised">Submit</md-button>
  </div>
</form>
