
<script type="text/javascript">
window.history.forward();
history.pushState(null, null, location.href);
 window.onpopstate = function () {
 history.go();
     //alert(location.href);
  };

</script>

<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg" style="background-color:#fff">
                <span><img src="assets/images/vijai-electricals-squarelogo-1464595364628.png" alt=""></span>
            </div>

            <div class="title" >Log in to your account</div>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="email" ng-model="vm.form.name" placeholder="Username"

                            required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span >Username is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"

                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span >Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <!-- <div class="remember-forgot-password" layout="row" layout-xs="column"
                     layout-align="space-between center">
                    <md-checkbox class="remember-me" ng-model="data.cb1" aria-label="Remember Me">
                        <span >Remember Me</span>
                    </md-checkbox>

                    <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color"
                       >Forgot Password?</a>
                </div> -->

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN" ng-click="vm.login()"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine" style="background-color:rgb(0,145,234); color:#fff"
                           >
                    LOG IN
                </md-button>
            </form>

            <!-- <div class="separator">
                <span class="text" >OR</span>
            </div>

            <md-button class="md-raised google">
                <div layout="row" layout-align="center center">
                <span>
                    <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                    <span >Log in with Google</span>
                </span>
                </div>
            </md-button>

            <md-button class="md-raised facebook">
                <div layout="row" layout-align="center center">
                <span>
                    <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                    <span >Log in with Facebook</span>
                </span>
                </div>
            </md-button>

            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" >Don't have an account?</span>
                <a class="link" ui-sref="app.pages_auth_register" >Create an account</a>
            </div> -->
        </div>
    </div>
</div>
