<form name ="meterMake" id="make-form" ng-submit="vm.made()">

  <div class="demo-md-panel-animation metermaster-class">

      <div flex ="5">
        <md-icon md-font-icon="icon-plus-circle" show-gt-sm="" role="button" aria-label="icon-plus-circle"  ng-click="vm.addManufacturers($index)"></md-icon>
      </div>
    <div layout="row" ng-repeat = "items in vm.manufacturers track by $index">
      <div flex="45">
        <div layout="row">
          <div flex="40">
            <p>Manufacturer Code {{$index+1}} : </p>
          </div>
          <div flex ="60">
            <md-input-container>
              <input ng-model="items.mcode">
            </md-input-container>
          </div>
        </div>

      </div>
      <div flex="10">

      </div>
      <div flex="45">
        <div layout="row">
          <div flex="40">
            <p>Manufacturer Name {{$index+1}} :</p>
          </div>
          <div flex ="60">
            <md-input-container>
              <input ng-model="items.mname">
            </md-input-container>
          </div>
        </div>

      </div>
    </div>
    <md-button type="submit" value="Submit" class="md-accent md-raised">Submit</md-button>
  </div>


</form>
