<div class="hireachy">
  <div layout="row" >
      <div flex="5">
        <label for="">Discom:</label>
      </div>
      <div flex="10">
        <b><span>{{model.discomid}}</span></b>
      </div>
        <div flex="5"></div>
      <div flex="5">
        <label for="">Circles:</label>
      </div>
      <md-input-container  flex="10">
        <md-select ng-change="model.getDivisions()" ng-model="model.circleid" placeholder="select circles" class="md-underline">
          <md-option value="">Select Circles</md-option>
          <md-option ng-repeat="x in model.circles"  value="{{x.adminEntityValueId}}">{{x.name}}</md-option>
        </md-select>
      </md-input-container >
      <div flex="5"></div>
      <div flex="5">
        <label for="">Division:</label>
      </div>
      <md-input-container flex="10">
        <md-select ng-change="model.getSubDivisions()" ng-model="model.divisionid" placeholder="select division" class="md-underline">
          <md-option value="">Select Division</md-option>
          <md-option ng-repeat="x in model.divisions"  value="{{x.adminEntityValueId}}">{{x.name}}</md-option>
        </md-select>
      </md-input-container>
      <div flex="5"></div>
      <div flex="5">
        <label for="">Sub<br/>Division:</label>
      </div>
      <md-input-container flex="10">
        <md-select ng-change="model.getSections()" ng-model="model.subdivisionid" placeholder="select subdivision" class="md-underline">
          <md-option value="">Select SubDivision</md-option>
          <md-option ng-repeat="x in model.subdivisions"  value="{{x.adminEntityValueId}}">{{x.name}}</md-option>
        </md-select>
      </md-input-container>
      <div flex="5"></div>
      <div flex="5">
        <label for="">Section:</label>
      </div>
      <md-input-container flex="10">
        <md-select ng-change="model.getSubStations()" ng-model="model.sectionid" placeholder="select section" class="md-underline">
          <md-option value="">Select Section</md-option>
          <md-option ng-repeat="x in model.sections"  value="{{x.adminEntityValueId}}">{{x.name}}</md-option>
        </md-select>
      </md-input-container>
  </div>
  <div layout="row">
      <div flex="5">
        <label for="">Sub<br/>Stations:</label>
      </div>
      <md-input-container flex="10">
        <md-select ng-change="model.getFeeder()" ng-model="model.substationid" placeholder="select substation" class="md-underline">
          <md-option value="">Select SubStations</md-option>
          <md-option ng-repeat="x in model.substations"  value="{{x.substationId}}">{{x.name}}</md-option>
        </md-select>
      </md-input-container>
      <div flex="5"></div>
      <div flex="5">
        <label for="">Feeder:</label>
      </div>
      <md-input-container flex="10">
        <md-select ng-change="model.getDtr()" ng-model="model.feederid" placeholder="select feeder" class="md-underline">
          <md-option value="">Select Feeder</md-option>
          <md-option ng-repeat="x in model.feeders"  value="{{x.feederId}}">{{x.name}}</md-option>
        </md-select>
      </md-input-container>
      <div flex="5"></div>
      <div flex="5">
        <label for="">DTR:</label>
      </div>
      <md-input-container flex="10">
        <md-select ng-change="model.getMeter()" ng-model="model.dtrId" placeholder="select DTR" class="md-underline">
          <md-option value="">Select DTR</md-option>
          <md-option ng-repeat="x in model.dtrs"  value="{{x.dtrId}}">{{x.name}}</md-option>
        </md-select>
      </md-input-container>
      <div flex="5"></div>
      <div flex="5">
        <label for="">Meter:</label>
      </div>
      <div flex="10">
        <md-autocomplete  ng-model="model.selectedItem"
           md-selected-item="model.selectedItem"
           md-search-text-change="model.searchTextChange(model.searchText)"
           md-search-text="model.searchText"
           md-selected-item-change="model.selectedItemChangeExi(model.selectedItem)"
           md-items="item in model.meters | filter:model.searchText"
           md-item-text="item.mtrNo"
           md-min-length="0"
           placeholder="Meter Number"
           ng-required="true">
           <md-item-template>
             <span md-highlight-text="model.searchText" md-highlight-flags="^i" > {{item.mtrNo}}</span>
           </md-item-template>
         </md-autocomplete>
      </div>
  </div>
</div>
