.hireachy {
  //background-color: #37a3d7;
    padding: 10px 20px 0;
  .layout-row {
    //margin-bottom: 20px;
    md-input-container {
      margin: 0;
      md-select {
        margin-top: -15px;
      }
    }

    .flex-20{
      margin-right: 10px;
    }

  }
}
