<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-image" style="background-color:#fff"><img src="assets/images/vijai-electricals-squarelogo-1464595364628.png" alt=""></span>
        <span class="logo-text">AMI SUITE</span>
    </div>

    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>
