#tr-master {
  padding: 15px 0 0 0;
  .up-btn {
    color: red;
  }
  md-select {
    margin: 0;
  }
  .mrLeft{
    margin-left: 10px;
  }
}
.modal-align {
  width:800px;
  padding: 65px 30px 20px;
  md-input-container {
    margin: 0;
  }
}
