#billingConsumption1 {
  md-input-container {
    margin: 0;
  }
}
.background{
  height:30px;
  background-color: #f7f7f7;
}
// #eventTable{
//   table, th, td {
//     border: 1px solid black;
//     border-collapse: collapse;
// }
// th, td {
//     padding: 5px;
//     text-align: left;
// }
// table.dataTable tbody{
//   padding:15px;
// }
// }
