.hireachy {
  background-color: #37a3d7;
    padding: 10px 20px;
    margin-bottom: 20px;
  .layout-row {
    margin-bottom: 20px;
    md-select {
      margin: 0;
    }
    .flex-20{
      margin-right: 10px;
    }

  }
}
