#Dcu-Config-Form {
   .p{
     margin: 25px 0 26px 0;
    font-size: 13px;
    text-transform: uppercase;
   }

   md-input-container {
     margin: 5px 0;
   }
   h4 {
     margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
   }
   button {
     margin: 0;
   }

}

md-toast {
  &.error {
    .md-toast-content {
      background: #d9534f;
      color: white;
    }
  }
  &.success {
    .md-toast-content {
      background: #398439;
      color: white;

    }
  }
}
