<form name ="meterChange" id="change-form" ng-submit ="vm.changes()">
  <div class="demo-md-panel-animation md-padding metermaster-class">


    <div layout="row">
      <div class="heading">
          <p class="label-heading">Existing Meter Details</p>
      </div>
    </div>

    <div layout="row">
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font auto-align">Consumer Number :</p>
            </div>
            <div flex="50">
                <md-autocomplete
                    md-selected-item="vm.selectedItem2"
                    md-search-text-change="vm.searchTextChange(vm.searchText2)"
                    md-search-text="vm.searchText2"
                    md-selected-item-change="vm.getMeterSNo(vm.selectedItem2)"
                    md-items="item in vm.changeCId | filter:vm.searchText2"
                    md-item-text=item.consumerId
                    md-min-length="0"
                    placeholder="consumer number"
                    ng-required="true">
                  <md-item-template>
                    <span md-highlight-text="vm.searchText2" md-highlight-flags="^i" > {{item.consumerId}}</span>
                  </md-item-template>
                </md-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div flex="10">

      </div>
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font">Existing Meter SNo : </p>
            </div>
            <div flex="50">
              <md-input-container class="md-block" flex-gt-xs>
                <input ng-model="vm.change.mSNo" value="<b>vm.change.mSNo</b>" disabled style="font-weight:600;color:#000;cursor: not-allowed;">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout="row">
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font">Status :</p>
            </div>
            <md-input-container flex="50">
              <md-select ng-model="vm.change.status" placeholder="status" class="md-underline" required>
                <md-option ng-repeat="x in vm.changeStatus"  value="{{x.lookupCode}}">{{x.lookupCode}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>

      </div>
      <div flex="10">
      </div>
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font">Reason For Change :</p>
            </div>

              <md-input-container flex="50" class="md-block" flex-gt-xs>
                <input ng-model="vm.change.reason" placeholder="reason for change">
              </md-input-container>

          </div>
        </div>
      </div>
    </div>

    <div layout="row">
      <div flex="45">
        <div layout="row">
          <div flex="50" class="each-item">
              <p class="label-font">Last Reading :</p>
          </div>
          <div flex="50">
            <div layout="row">
              <div flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                  <input type ="number" ng-model="vm.change.kwh" placeholder="kwh" >
                </md-input-container>
              </div>
              <div flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                  <input type ="number" ng-model="vm.change.kvah" placeholder="kvah" >
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div flex="10">
      </div>
      <div flex="45">
        <div layout="row">
          <div flex="50">

          </div>
          <div flex="50" class="each-item">
            <div layout="row">
              <div flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                  <input type ="number" ng-model="vm.change.kvarh" placeholder="kvarh">
                </md-input-container>
              </div>

              <div flex="50">
                <md-input-container class="md-block" flex-gt-xs>
                  <input type ="number" ng-model="vm.change.demand" placeholder="demand">
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout="row">
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font">Date Of Failure :</p>
            </div>
            <div flex="50">
              <md-datepicker ng-model="vm.change.failDate" md-max-date="vm.maxDate" md-placeholder="enter date" md-open-on-focus required></md-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout="row">
      <div class="heading">
          <p  class="label-heading">New Meter Details</p>
      </div>
    </div>
    <div layout="row">
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font auto-align">Meter Serial No :</p>
            </div>
            <div flex="50">
              <md-autocomplete
                   md-selected-item="vm.selectedItem3"
                   md-search-text-change="vm.searchTextChange(vm.searchText3)"
                   md-search-text="vm.searchText3"
                   md-selected-item-change="vm.selectedItemChange(vm.selectedItem3)"
                   md-items="item in vm.changeMsNo | filter:vm.searchText3"
                   md-item-text="item.mtrNo"
                   md-min-length="0"
                   placeholder="meter serial number"
                   ng-required="true">
                 <md-item-template>
                   <span md-highlight-text="vm.searchText3" md-highlight-flags="^i" > {{item.mtrNo}}</span>
                 </md-item-template>
               </md-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div flex="10">

      </div>
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font">Installed Date : </p>
            </div>
            <div flex="50">
              <md-datepicker ng-model="vm.change.installedDate" md-max-date="vm.maxDate" md-placeholder="enter date" md-open-on-focus required></md-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div layout="row">
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="85">
              <p class="label-font">Estimation required for missing parameters :</p>
            </div>
              <md-input-container flex="15">
                <md-switch ng-model="vm.parameters" aria-label="Switch 1" ng-true-value="'Y'" ng-false-value="'N'"> {{vm.parameters}} </md-switch>
              </md-input-container>
          </div>
        </div>
      </div>
      <div flex="10">

      </div>
      <div flex="45">
        <div class="each-item">
          <div layout="row">
            <div flex="50">
              <p class="label-font">Commisioned Date :</p>
            </div>
            <div flex="50">
              <md-datepicker ng-model="vm.change.commisionedDate" md-max-date="vm.maxDate" md-placeholder="enter date" md-open-on-focus required></md-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout="row">
      <div flex="45">

      </div>
      <div flex="10">
        <md-button type="submit" class="md-accent md-raised">Submit</md-button>
      </div>
      <div flex="10">
        <md-button ng-click="vm.clearForm()" class="md-raised md-accent" aria-label="Submit">clear</md-button>
      </div>
      <div flex="45">

      </div>
    </div>
  </div>


</form>
